{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IFBook</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</head>
<body>
    
    {% include 'components/navbar.html' %}

    <main class="flex-fill">
        <form class="container" method="POST">
        {% csrf_token %}
            <br>
            <h1>Adicionar Produto</h1>
            <br>
            {% comment %} <div class="row my-3">
                <div class="col-md-4">
                    <div class="form-floating mb-3">
                        {{form.name}}
                        <label for="codigo">Nome</label>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-floating mb-3">
                        <input class="form-control" type="text" name="quantity_pages" id="codigo" placeholder="teste" value="">
                        <label for="codigo">teste</label>
                    </div>
                </div>
                <div class="col-md-4">
                    <label for="formFileSm" class="form-control">Small file input example</label>
                    <input class="form-control form-control-sm" id="formFileSm" name="book_cover"  type="file">
                  </div>
                <div class="col-md-4">
                    <div class="form-floating mb-3">
                        <input class="form-control" type="text" name="book_cover" id="codigo" placeholder="teste" value="">
                        <label for="codigo">teste</label>
                    </div>
                </div>
            </div>

            <div class="row my-3">
                <div class="col-md-3">
                    <div class="form-floating mb-3">
                        <input class="form-control" type="text" name="status_book" id="codigo" placeholder="teste" value="">
                        <label for="codigo">teste</label>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-floating mb-3">
                        <input class="form-control" type="text" name="note" id="codigo" placeholder="teste" value="">
                        <label for="codigo">teste</label>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-floating mb-3">
                        <input class="form-control" type="text" name="year" id="codigo" placeholder="teste" value="">
                        <label for="codigo">teste</label>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-floating mb-3">
                        <input class="form-control" type="text" name="price" id="codigo" placeholder="teste" value="">
                        <label for="codigo">teste</label>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-floating mb-3">
                        <input class="form-control" type="text" name="quantity" id="codigo" placeholder="teste" value="">
                        <label for="codigo">teste</label>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-floating mb-3">
                        <input class="form-control" type="text" name="synopsis" id="codigo" placeholder="teste" value="">
                        <label for="codigo">teste</label>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-floating mb-3">
                        <input class="form-control" type="text" name="publishing_company" id="codigo" placeholder="teste" value="">
                        <label for="codigo">teste</label>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-floating mb-3">
                        <input class="form-control" type="text" name="category" id="codigo" placeholder="teste" value="">
                        <label for="codigo">teste</label>
                    </div>
                </div>
            </div> {% endcomment %}
            {{form.as_p}}
            <div class="d-flex justify-content-end">
                <button type="submit" style="width: 200px; height: 50px;" class="btn btn-outline-success me-3 mb-4"><i
                        class="mdi mdi-check me-1"></i>Salvar</button>
            </div>
        </form>
    </main>

    {% include 'components/footer.html' %}

</body> 

</html>
<style>
    html {
        height: 100%;
        min-height: 100%;
    }
    body {
        display: flex;
        flex-direction: column;
        min-height: 100%;
    }
</style>