{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IFBook</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</head>
<body>
    
    {% include 'components/navbar.html' %}

    <main class="flex-fill">
        <form class="container" action="{% url 'livrosEdit2' livro.id %}" method="POST">
            {% csrf_token %}
            <br>
            <h1>Editar Livro</h1>
            <br>
            <div class="row my-3">
                <div class="col-md-4">
                    <div class="form-floating mb-3">
                        <input class="form-control" type="text" name="name" id="name" placeholder="Nome do livro" value="{{livro.name}}">
                        <label for="name">Nome do livro</label>
                    </div>
                </div>
                <div class="col-md-4">
                    <label for="book_cover" class="form-control">Escolha uma imagen.</label>
                    <input class="form-control form-control-sm" id="book_cover" name="book_cover" type="file">
                </div>
                <div class="col-md-4">
                    <div class="form-floating mb-3">
                        <input class="form-control" type="text" name="quantity_pages" id="quantity_pages" placeholder="Paginas" value="{{livro.quantity_pages}}">
                        <label for="quantity_pages">Paginas</label>
                    </div>
                </div>
            </div>

            <div class="row my-3">
                <div class="col-md-3">
                    <div class="form-floating mb-3">
                        <label class="form-label"></label>
                        <select class="form-select" name="status_book" aria-label="Default select example">
                            <option value="{{livro.status_book}}">{{livro.status_book}}</option>
                            <option value="Novo">Novo</option>
                            <option value="Usado">Usado</option>
                            <option value="Seminovo">Seminovo</option>
                        </select>
                        <label for="status_book">Status</label>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-floating mb-3">
                        <input class="form-control" type="text" name="note" id="note" placeholder="Observação" value="{{livro.note}}">
                        <label for="note">Observação</label>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-floating mb-3">
                        <input class="form-control" type="text" name="year" id="year" placeholder="Ano" value="{{livro.year}}">
                        <label for="year">Ano</label>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-floating mb-3">
                        <input class="form-control" type="text" name="price" id="price" placeholder="Preço" value="{{livro.price}}">
                        <label for="price">Preço</label>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-floating mb-3">
                        <input class="form-control" type="text" name="quantity" id="quantity" placeholder="Quantidade" value="{{livro.quantity}}">
                        <label for="quantity">Quantidade</label>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-floating mb-3">
                        <input class="form-control" type="text" name="synopsis" id="synopsis" placeholder="Sinopse" value="{{livro.synopsis}}">
                        <label for="synopsis">Sinopse</label>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-floating mb-3">
                        <input class="form-control" type="text" name="publishing_company" id="publishing_company" placeholder="Editora" value="{{livro.publishing_company}}">
                        <label for="publishing_company">Editora</label>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-floating mb-3">
                        <select class="form-select" name="category" aria-label="Default select example">
                            {% for categor in category %}
                            <option value="{{categor.id}}">{{categor.name}}</option>
                            {% endfor %}
                        </select>
                        <label for="category">Categoria</label>
                    </div>
                </div>
            </div> 
            
            <div class="d-flex justify-content-end">
                <button type="submit" style="width: 200px; height: 50px;" class="btn btn-outline-success me-3 mb-4"><i
                        class="mdi mdi-check me-1"></i>Salvar</button>
            </div>
        </form>
    </main>

    {% include 'components/footer.html' %}

</body> 

</html>
<style>
    html {
        height: 100%;
        min-height: 100%;
    }
    body {
        display: flex;
        flex-direction: column;
        min-height: 100%;
    }
</style>