{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meus Livros</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</head>
<body>
    
    {% include 'components/navbar.html' %}

    <form class="flex-fill" method="POST">
        {% csrf_token %}
        <div class="container">
            <br>
            <div style="display: flex ;justify-content: space-between;">
                <h1>Meus Livros</h1>
                <a href="{% url 'adicionarLivro' %}" type="button" class="btn btn-outline-success">
                    <h3>+ Adicionar</h3>
                </a>
            </div>
            <br>
            <table class="table table-bordered dt-responsive nowrap w-100 dt-simples" id="tb-produto">
                <thead class="table-light">
                <tr>
                    <th class="align-middle">Nome do Livro</th>
                    <th class="align-middle">Categoria</th>
                    <th class="align-middle">Editora</th>
                    <th class="align-middle">Qtd. Páginas</th>
                    <th class="align-middle">Ano</th>
                    <th class="align-middle">Preço</th>
                    <th class="align-middle">Ações</th>
                </tr>
                </thead>
                <tbody>
                {% for object in object_list %}
                    <tr>
                        <td>{{object.name}}</td>
                        <td>{{object.category.name}}</td>
                        <td>{{object.publishing_company}}</td>
                        <td>{{object.quantity_pages}}</td>
                        <td>{{object.year}}</td>
                        <td>{{object.price}}</td>
                        <td>{{object.status_book}}</td>
                        <td>
                            <a href="{% url 'excluirLivro' object.id %}" type="submit" class="btn btn-danger" value="Confirm">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                                    <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
                                </svg>
                            </a>
                            <a href="{% url 'livrosEdit' object.id %}" type="button" class="btn btn-warning">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen-fill" viewBox="0 0 16 16">
                                    <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001z"/>
                                </svg>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        </div>
    </form>

    {% include 'components/footer.html' %}

</body> 

</html>
<style>
    html {
        height: 100%;
        min-height: 100%;
    }
    body {
        display: flex;
        flex-direction: column;
        min-height: 100%;
    }
</style>