{% load static %}
{% block content %}
<div>
    <div class=navegadortop>    
        <a href="{% url 'inicio' %}" class="opcaoTop" style="font-weight: bold; font-size: 17px;">IFBOOK</a>
        <a href="{% url 'inicio' %}" class="opcaoTop">LIVROS EM OFERTA</a>
    </div>
    <div class=navegador>    
        <a class="opcao" style="font-weight: bold; font-size: 30px; font-style: italic;">IFBOOK</a>
        <input type="text" class="form-control" style="width: 46%; border-color: white; border-radius: 40px;" id="pesquisa" placeholder="Qual livro você procura?">
        <div>
            <div style="display: flex;">
                {% if user.username %}
                <div class="dropdown">
                    <a class="opcaoIcon dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                        <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
                            <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0Zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4Zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10Z"/>
                        </svg>
                        {{user.username}}
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <li><a href="{% url 'livros' %}" class="dropdown-item" href="#">Meus Livros</a></li>
                        <li><a href="{% url 'compras' %}" class="dropdown-item" href="#">Minhas Compras</a></li>
                        <li><a href="{% url 'perfil' %}" class="dropdown-item" href="#">Perfil</a></li>
                        <li><a href="{% url 'deslogar' %}" class="dropdown-item" href="#">Sair</a></li>
                    </ul>
                </div>
                <a href="{% url 'carrinho' %}" class="opcaoIcon" style="margin-left: 30px; margin-right: 50px;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
                        <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                    </svg>
                </a>
                {% else %}
                <a href="{% url 'login' %}" class="opcaoIcon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
                        <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0Zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4Zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10Z"/>
                    </svg>
                    Entrar
                </a>
                <a href="{% url 'login' %}" class="opcaoIcon" style="margin-left: 30px; margin-right: 50px;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
                        <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                    </svg>
                </a>
                {% endif %}
            </div>
        </div>
    </div>
    <div class=navegadorbot>
        <a href="{% url 'inicioCategoria' 'Ação' %}" class="opcaoBot" style="margin-left: 50px;">Ação</a>
        <a href="{% url 'inicioCategoria' 'Ação' %}" class="opcaoBot">Quadrinhos</a>
        <a href="{% url 'inicioCategoria' 'Terror' %}" class="opcaoBot">Terror</a>
        <a href="{% url 'inicioCategoria' 'Aventura' %}" class="opcaoBot">Aventura</a>
        <a href="{% url 'inicioCategoria' 'Romance' %}" class="opcaoBot">Romance</a>
        <a href="{% url 'inicioCategoria' 'Ação' %}" class="opcaoBot">Mangá</a>
        <a href="{% url 'inicioCategoria' 'Ação' %}" class="opcaoBot">Literatura</a>
    </div>
</div>
{% endblock %}

<style>
.navegadortop{
    display: flex;
    width: 100%;
    height: 35px;
    background-color: #4f1177;
    align-items: center;
}
.navegador{
    display: flex;
    width: 100%;
    height: 78px;
    align-items: center;
    background-color: #7522ac;
    justify-content: space-around;
}
.navegadorbot{
    display: flex;
    width: 100%;
    height: 30px;
    align-items: center;
    background-color: #ECEFF1;
}
.opcaoTop{
    color: white;
    font-size: 15px;
    text-decoration: none;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', sans-serif;
    margin-left: 50px;
}
.opcaoTop:hover{
    color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
}
.opcao{
    color: white;
    font-size: 15px;
    text-decoration: none;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', sans-serif;
    margin-left: 50px;
}
.opcao:hover{
    color: rgba(255, 255, 255);
    cursor: default;
}
.opcaoIcon{
    color: white;
    font-weight: bold;
    font-size: 15px;
    text-decoration: none;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', sans-serif;
}
.opcaoIcon:hover{
    color: rgba(255, 255, 255);
    cursor: pointer;
}
.opcaoBot{
    color: black;
    font-size: 15px;
    text-decoration: none;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', sans-serif;
    margin-left: 25px;
}
.opcaoBot:hover{
    color: rgba(0, 0, 0, 0.7);
    cursor: pointer;
}
</style>