{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</head>
<body>
    
    {% include 'components/navbar.html' %}

    <main class="flex-fill">
        <div class="container">
            <br>
            <h1>Informaçoes de Usuario</h1>
            <br>
            <form action="{% url 'userEdit' %}" method="post">
                {% csrf_token %}
                <div class="row">
                    <div class="col-sm-12 col-md-6">
                        <fieldset class="row gx-3">
                            <legend>Dados Pessoais</legend>
                            <div class="form-floating mb-3">
                                <input class="form-control" type="text" name="username" value="{{user.username}}" required/>
                                <label for="txtNome">Nome</label>
                            </div>
                        </fieldset>
                        <fieldset>
                            <legend>Contatos</legend>
                            <div class="form-floating mb-3 col-md-8">
                                <input class="form-control" type="email" name="email" value="{{user.email}}" required/>
                                <label for="txtEmail">E-mail</label>
                            </div>
                            <div class="form-floating mb-3 col-md-6">
                                <input class="form-control" type="text" name="phone" value="{{user.phone}}" />
                                <label for="txtphone">Telefone</label>
                            </div>
                        </fieldset>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <fieldset class="row gx-3">
                            <legend>Endereço</legend>
                            <div class="form-floating mb-3 col-md-6 col-lg-6">
                                <input class="form-control" type="text" name="cep" value="{{endereco.cep}}" />
                                <label for="txtCEP">CEP</label>
                            </div>
                            <div class="form-floating mb-3 col-md-6 col-lg-6">
                                <input class="form-control" type="text" name="city" value="{{endereco.city}}" />
                                <label for="Cidade">Cidade</label>
                            </div>
                            <div class="clearfix"></div>
                            <div class="form-floating mb-3 col-md-4">
                                <input class="form-control" type="text" name="number" value="{{endereco.number}}" />
                                <label for="txtNumero">Número</label>
                            </div>
                            <div class="form-floating mb-3 col-md-8">
                                <input class="form-control" type="text" name="street" value="{{endereco.street}}" />
                                <label for="txtRua">Rua</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input class="form-control" type="text" name="district" value="{{endereco.district}}" />
                                <label for="txtReferencia">Referência</label>
                            </div>
                        </fieldset>
                        <br><br>
                        <fieldset class="row gx-3">
                            <div class="mb-3 text-left">
                                <button style="float: right;" type="submit" class="btn btn-lg btn-dark">Salvar Informações</button>
                            </div>
                        </fieldset>
                    </div>
                </div>
                <hr/>
            </form>
        </div>
    </main>

    {% include 'components/footer.html' %}

</body> 

</html>
<style>
    html {
        height: 100%;
        min-height: 100%;
    }
    body {
        display: flex;
        flex-direction: column;
        min-height: 100%;
    }
</style>