{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrinho</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</head>
<body>
    
    {% include 'components/navbar.html' %}

    <main class="flex-fill">
        <div class="container">
            <br>
            <h1>Carrinho de Compras</h1>
                <ul class="list-group mb-3">
                    {% for livro in livroCarrinho %}
                    <li class="list-group-item py-3">
                        <div class="row g-3">
                            <div class="col-4 col-md-3 col-lg-2">
                                <a href="#">
                                    <img class="card-img-top" src="{{livro.book.book_cover.url}}" style="height: 150px; width: 110px; display: block;">
                                </a>
                            </div>
                            <div class="col-8 col-md-9 col-lg-7 col-xl-8 text-left align-self-center">
                                <h4>
                                    <b>
                                        <a href="#" class="text-decoration-none" style="color: #7522ac;">
                                            {{ livro.book.name }}
                                        </a>
                                    </b>
                                </h4>
                                <h5>
                                    {{ livro.book.synopsis }}
                                </h5>
                            </div>
                            <div class="col-6 offset-6 col-sm-6 offset-sm-6 col-md-4 offset-md-8 col-lg-3 offset-lg-0 col-xl-2 align-self-center mt-3">
                                <div class="text-end">
                                    <a href="{% url 'apagarLivroCarrinho' livro.book.id %}" title="Remover item do carrinho">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="#555" class="bi bi-trash-fill" viewBox="0 0 16 16">
                                            <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
                                        </svg>
                                    </a>
                                </div>
                                <div class="text-end mt-2">
                                    <span class="text-dark">Valor Item: R$ {{ livro.book.price }}</span>
                                </div>
                            </div>
                        </div>
                    </li>
                    {% endfor %}
                    
                    <li class="list-group-item py-3">
                        <div class="text-end">
                            <h4 class="text-dark mb-3">
                                R${{ valor}}
                            </h4>
                            <a href="{% url 'comprarLivro' %}" class="btn btn-dark btn-lg ms-2 mt-xs-3">Fechar Compra</a>
                        </div>
                    </li>

                </ul>

        </div>
    </main>

    {% include 'components/footer.html' %}

</body> 

</html>
<style>
html {
    height: 100%;
    min-height: 100%;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
</style>