.cardsfin{
    width: 100%; 
    display: flex; 
    justify-content: space-between;
}
.btnsfin{
    width: 100%; 
    display: flex; 
    margin-bottom: 10px;
}
.btnsfin a {
    margin-right: 10px;
}
.cardFinancas{
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 10px;
    width: 32%;
    height: 150px;
    text-align:left;
    -webkit-box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.3); 
    box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.3);
    border-left: solid 2px #419cd4;
}
.cardFinancas h2{
    font-size: 25px;
    font-weight: bold;
}
.cardFinancas p{
    font-size: 12px;
    font-weight: bold;
    color: #a2a2a2;
}
.cardFinancasContador{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.divprincipal{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    justify-content: center;
    text-align: center;
}
.Backgroundimg{
    margin: 0;
    padding: 0;
    background: url("{% static 'img/background2.png' %}") no-repeat;
    background-size: cover;
    background-position: center center;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100vw;
    height: 100vh;
    position: fixed;
    overflow-y: scroll;
}
.container-principal{
    margin: 0;
    margin-top: 25vh;
    width: 1000px;
    min-height: 75vh;
    border-radius: 5px 5px 0px 0px;
    background-color: rgba(255, 255, 255, 0.964);
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    position: absolute;
    -webkit-box-shadow: 0px 0px 14px 3px rgb(0, 0, 0); 
    box-shadow: 0px 0px 14px 3px rgba(0,0,0,0.5);
}
@media (max-width: 1200px) {
    .container-principal {
        border-radius: 0px;
        width: 100%;
    }
    .divtabela{
        width: 100% !important;
        margin-bottom: 20px;
    }
    .tabelas{
        width: 100%;
        display: flex;
        flex-direction: column; 
    }
}


/*---------------------------------- inicio tabela -------------------------------*/
.contenttable {
    border-collapse: collapse;
    font-size: 0.9em;
    width: 100%;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
}

.contenttable thead tr {
    color: #ffffff;
    font-weight: bold;
}

.contenttable th,
.contenttable td {
    padding: 10px 0px;
    
}

.contenttable tbody tr {
    border-bottom: 1px solid #dbdbdb;
    background-color: white;
}

.contenttable tbody tr:nth-of-type(even) {
    background-color: #ececec;
}

.contenttable tbody tr:last-of-type {
    border-bottom: 2px solid;
    border-bottom-color: rgb(218, 218, 218);
}

.contenttable tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}
.divtabela{
    width: 470px;
}
.btnadd{
    font-size: 17px;
    text-decoration: solid;
    color: white;
    background-color: #419cd4;
    border-radius: 5px;
    padding: 5px;
}
.btnadd:hover{
    color: rgb(210, 210, 210);
    background-color: #17bfe5;
}
/*---------------------------------- fim tabela -------------------------------*/